* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    margin-bottom: 35px;
    display: flex;
    align-items: center;
    height: 100px;
    padding: 50px 100px 50px 100px;
    text-align: center;
    background: linear-gradient(90deg, #12C998 1%, #16FFBD 100%);
}

.header-title {
    font-size: 50px;
    margin-right: auto;
    padding: 0px;
}

.header-subtitle {
    font-size: 30px;
    padding: 0px;
}

.build-meme-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px 100px;
    padding: 55px;
    border: 5px solid #F070A1;
    border-radius: 5px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.form-input {
    border-radius: 5px;
    width: 300px;
    height: 50px;
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
}

.edit-mode {
    position: absolute;
    left: 100px;
    border: white;
}

.top {
    top: 50px;
}

.bottom {
    bottom: 70px;
}

.refresh-button,
.add-button {
    background-color: #16FFBD;
    border: #16FFBD;
    font-family: 'Cabin', sans-serif;
    font-size: 17px;
    border-radius: 5px;
    width: 200px;
    height: 30px;
}

.refresh-button:hover,
.add-button:hover {
    box-shadow: 2px 2px #12C998;
    cursor: pointer;
}

.meme {
    position: relative;
    width: 500px;
    padding: 10px;
}

.saved {
    margin-bottom: 20px;
    border: 2px solid #439F76;
    border-radius: 5px;
    padding: 10px;
}

.meme-text {
    font-family: impact, sans-serif;
    font-size: 35px;
    text-transform: uppercase;
    color: white;
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.meme-top-text {
    top: 0px;
}

.meme-bottom-text {
    bottom: 0px;
}

.meme-image {
    max-width: 400px;
    max-height: 350px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.saved-memes-container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, 500px);
    grid-auto-rows: auto;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    padding-top: 25px;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
    padding: 0px 75px;
}

.meme-button {
    background-color: #F070A1;
    border: #F070A1;
    font-family: 'Cabin', sans-serif;
    font-size: 17px;
    border-radius: 5px;
    width: 60px;
    height: 30px;
}

.meme-button:hover {
    box-shadow: 2px 2px #C34271;
    cursor: pointer;
}

.save-button-container {
    text-align: center;
    padding-top: 10px;
}

main {
    margin-bottom: 100px;
}

.footer {
    height: 40px;
    width: 100vw;
    position: fixed;
    bottom: 0px;
    text-align: center;
    background: linear-gradient(90deg, #12C998 1%, #16FFBD 100%);
}

.footer-text {
    padding: 10px 100px;
    margin: 0px;
}

@media screen and (min-width: 55em) {}